// .box {
//     border: 3px;
//     background: grey;
//     padding: 2px;
// }
.container_modal {
    background-color: rgb(126, 173, 163);
    width: 900px;
    margin: auto;
    padding: 60px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 4px;
    .icon {
        float: right;
        padding: 10px;
    }

}

.titlebox,
.descbox {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #c2c2c2;
}

textarea {
    width: 100%;
    height: 300px;
    overflow: hidden;
    padding: 15px;
    font-family: 'Roboto Mono', monospace;
}

.titlebox {
    margin-bottom: 15px;
    padding: 15px;
    font-family: 'Roboto Mono', monospace;
}

.submit,
.cancel {
    margin-right: 5px;
}

.todo_footer {
    display: flex;
    justify-content: flex-end;
}

.todo_title {
    display: inline;
    font-family: 'Roboto Mono', monospace;
}

.todo_head {
    font-family: 'Roboto Mono', monospace;
}

.edit {
    margin: 5px;
}

.delete {
    margin: 5px;
}

span.errors {
    color: red;
  }