<div class="box">
    <div class="container_modal">
        <div class="todo_title">

            <button class="submit"><i class="large material-icons icon">create</i></button>
            <button class="submit"> <i class="large material-icons icon">delete_sweep</i></button>







            <div class="todo_head">
                <input type="text" placeholder="Enter ToDo Task" class="titlebox">
            </div>
            <div class="todo_desc">
                <textarea class="descbox" placeholder="Enter Description About your task"></textarea>
            </div>
            <div class="todo_footer">
                <button class="submit"> 
            <i class="material-icons">check</i>
    </button>
                <button class="cancel">
        <i class="material-icons">clear</i>
        
    </button>

            </div>
        </div>
    </div>